<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/components/jquery-1.10.2.js"></script>
    <script src="/javascripts/xyz.js"></script>
    <style type="text/css">
        input {
            length: 200px;
        }

        th, td {
            border: 1px solid red;
            text-align: left;
        }

        table {
            border-collapse: inherit;
        }

    </style>
</head>
<body>
<table cellpadding="0" cellspacing="0">
    <tr>
        <th rowspan="3">温度</th>
        <th>temperature.celsius</th>
        <td><input type="text" name="temperature_celsius"/></td>
    </tr>
    <tr>
        <th>temperature.fahrenheit</th>
        <td><input type="text" name="temperature_fahrenheit"/></td>
    </tr>
    <tr>
        <th>temperature.kelvin</th>
        <td><input type="text" name="temperature_kelvin"/></td>
    </tr>
    <tr>
        <th rowspan="8">加速度计</th>
        <th>accelerometer.x</th>
        <td><input type="text" name="accelerometer_x"/></td>
    </tr>
    <tr>
        <th>accelerometer.y</th>
        <td><input type="text" name="accelerometer_y"/></td>
    </tr>
    <tr>
        <th>accelerometer.z</th>
        <td><input type="text" name="accelerometer_z"/></td>
    </tr>
    <tr>
        <th>accelerometer.pitch</th>
        <td><input type="text" name="accelerometer_pitch"/></td>
    </tr>
    <tr>
        <th>accelerometer.roll</th>
        <td><input type="text" name="accelerometer_roll"/></td>
    </tr>
    <tr>
        <th>accelerometer.acceleration</th>
        <td><input type="text" name="accelerometer_acceleration"/></td>
    </tr>
    <tr>
        <th>accelerometer.inclination</th>
        <td><input type="text" name="accelerometer_inclination"/></td>
    </tr>
    <tr>
        <th>accelerometer.orientation</th>
        <td><input type="text" name="accelerometer_orientation"/></td>
    </tr>
    <tr>
        <th rowspan="13">角度</th>
        <th>gyro.x</th>
        <td><input type="text" name="gyro_x"/></td>
    </tr>
    <tr>
        <th>gyro.y</th>
        <td><input type="text" name="gyro_y"/></td>
    </tr>
    <tr>
        <th>gyro.z</th>
        <td><input type="text" name="gyro_z"/></td>
    </tr>




    <tr>
        <th>gyro.pitch.rate</th>
        <td><input type="text" name="gyro_pitch_rate"/></td>
    </tr>
    <tr>
        <th>gyro.pitch.angle</th>
        <td><input type="text" name="gyro_pitch_angle"/></td>
    </tr>
    <tr>
        <th>gyro.roll.rate</th>
        <td><input type="text" name="gyro_roll_rate"/></td>
    </tr>
    <tr>
        <th>gyro.roll.angle</th>
        <td><input type="text" name="gyro_roll_angle"/></td>
    </tr>
    <tr>
        <th>gyro.yaw.rate</th>
        <td><input type="text" name="gyro_yaw_rate"/></td>
    </tr>
    <tr>
        <th>gyro.yaw.angle</th>
        <td><input type="text" name="gyro_yaw_angle"/></td>
    </tr>
    <tr>
        <th>gyro.rate.x</th>
        <td><input type="text" name="gyro_rate_x"/></td>
    </tr>
    <tr>
        <th>gyro.rate.y</th>
        <td><input type="text" name="gyro_rate_y"/></td>
    </tr>
    <tr>
        <th>gyro.rate.z</th>
        <td><input type="text" name="gyro_rate_z"/></td>
    </tr>
    <tr>
        <th>gyro.isCalibrated</th>
        <td><input type="text" name="gyro_isCalibrated"/></td>
    </tr>
</table>
</body>
</html>
