<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/components/jquery-1.10.2.js"></script>
    <script src="/javascripts/xyz.js"></script>
</head>
<body>
    <input type="text" value="" name="text"/>
    <input type="button" value="测试" id="btn" />
    <pre id="date"></pre>
</body>
</html>
