<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/components/jquery-1.10.2.js"></script>
    <script src="/javascripts/components/threejs/three.js"></script>
    <!--<script src="/javascripts/xyz.js"></script>-->
    <script src="/javascripts/jet.js"></script>
    <link type="text/css" href="/stylesheets/style.css"/>
</head>
<body>
<table cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width: 50px">
        <col style="width: 150px">
        <col style="width: 100px">
        <col style="width: 150px">
    </colgroup>
    <tr>
        <th rowspan="3">温度</th>
        <th>temperature.celsius</th>
        <td><input type="text" name="temperature_celsius"/></td>
        <td>摄氏度</td>
    </tr>
    <tr>
        <th>temperature.fahrenheit</th>
        <td><input type="text" name="temperature_fahrenheit"/></td>
        <td>华氏度</td>
    </tr>
    <tr>
        <th>temperature.kelvin</th>
        <td><input type="text" name="temperature_kelvin"/></td>
        <td>绝对温度</td>
    </tr>
    <tr>
        <th rowspan="8">加速度计</th>
        <th>accelerometer.x</th>
        <td><input type="text" name="accelerometer_x"/></td>
    </tr>
    <tr>
        <th>accelerometer.y</th>
        <td><input type="text" name="accelerometer_y"/></td>
    </tr>
    <tr>
        <th>accelerometer.z</th>
        <td><input type="text" name="accelerometer_z"/></td>
    </tr>
    <tr>
        <th>accelerometer.pitch</th>
        <td><input type="text" name="accelerometer_pitch"/></td>
    </tr>
    <tr>
        <th>accelerometer.roll</th>
        <td><input type="text" name="accelerometer_roll"/></td>
    </tr>
    <tr>
        <th>accelerometer.acceleration</th>
        <td><input type="text" name="accelerometer_acceleration"/></td>
        <td>加速</td>
    </tr>
    <tr>
        <th>accelerometer.inclination</th>
        <td><input type="text" name="accelerometer_inclination"/></td>
        <td>倾向,切坡</td>
    </tr>
    <tr>
        <th>accelerometer.orientation</th>
        <td><input type="text" name="accelerometer_orientation"/></td>
        <td>方向，定位，取向</td>
    </tr>
    <tr>
        <th rowspan="13">陀螺仪</th>
        <th>gyro.x</th>
        <td><input type="text" name="gyro_x"/></td>
    </tr>
    <tr>
        <th>gyro.y</th>
        <td><input type="text" name="gyro_y"/></td>
    </tr>
    <tr>
        <th>gyro.z</th>
        <td><input type="text" name="gyro_z"/></td>
    </tr>
    <tr>
        <th>gyro.pitch.rate</th>
        <td><input type="text" name="gyro_pitch_rate"/></td>
        <td rowspan="2">pitch是围绕X轴旋转，也叫做俯仰角</td>
    </tr>
    <tr>
        <th>gyro.pitch.angle</th>
        <td><input type="text" name="gyro_pitch_angle"/></td>
    </tr>
    <tr>
        <th>gyro.roll.rate</th>
        <td><input type="text" name="gyro_roll_rate"/></td>
        <td rowspan="2">roll是围绕Z轴旋转，也叫翻滚角</td>
    </tr>
    <tr>
        <th>gyro.roll.angle</th>
        <td><input type="text" name="gyro_roll_angle"/></td>
    </tr>
    <tr>
        <th>gyro.yaw.rate</th>
        <td><input type="text" name="gyro_yaw_rate"/></td>
        <td rowspan="2">yaw是围绕Y轴旋转，也叫偏航角</td>
    </tr>
    <tr>
        <th>gyro.yaw.angle</th>
        <td><input type="text" name="gyro_yaw_angle"/></td>
    </tr>
    <tr>
        <th>gyro.rate.x</th>
        <td><input type="text" name="gyro_rate_x"/></td>
    </tr>
    <tr>
        <th>gyro.rate.y</th>
        <td><input type="text" name="gyro_rate_y"/></td>
    </tr>
    <tr>
        <th>gyro.rate.z</th>
        <td><input type="text" name="gyro_rate_z"/></td>
    </tr>
    <tr>
        <th>gyro.isCalibrated</th>
        <td><input type="text" name="gyro_isCalibrated"/></td>
        <td>是否校正</td>
    </tr>
</table>
<div id="canvas3d"></div>
</body>
</html>
