body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.kuang {
    text-align: center;
    margin-top: 200px;
}

#mess {
    text-align: center
}

.value {
    width: 200px;
    height: 200px;
    border: 1px solid;
    text-align: center;
    line-height: 200px;
    display: inline-block;
}