* {
    padding: 0px;
    margin: 0px;
    font-family: '微软雅黑';
    font-size: 12px;
}

input {
    width: 100px;
}

th, td {
    border: 1px solid red;
    text-align: left;
}

table {
    border-collapse: collapse;
    float: right;
}

div {
    float: left;
    border: 1px solid greenyellow;
    width: 500px;
    height: 500px;
}

body {
    padding: 10px;
}